body {
  background-color: #f8f1ef;
}
.App {
  display: flex;
  justify-content: center;
  padding: 2em 0;
}
.App .container {
  background-color: #f7f7ff;
  width: 90%;
  max-width: 700px;
  height: auto;
  padding: 0 0 30px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.App .container .header {
  background-image: linear-gradient(to right, #604486, #526194);
  text-align: center;
  color: #fff;
  padding: 10px 0 60px;
  font-size: 35px;
  font-weight: 600;
  letter-spacing: 1.5px;
  border-radius: 20px 20px 0 0;
  -webkit-border-radius: 20px 20px 0 0;
  -moz-border-radius: 20px 20px 0 0;
  -ms-border-radius: 20px 20px 0 0;
  -o-border-radius: 20px 20px 0 0;
}
.App .form-style {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 80%;
  max-width: 630px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  position: absolute;
  top: 110px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  padding: 30px 0;
  box-shadow: 1px 1px 15px #9e9d9d;
}
.App .form-style form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13px;
  flex-direction: column;
  height: 100%;
}
.App .form-style form input {
  max-width: 270px;
  width: 90%;
  height: 40px;
  font-size: 16px;
}
.add-btn {
  background-color: #ed6a5a;
  color: #fff;
  padding: 5px 50px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.add-btn:hover {
  background-color: #ed5642;
}
.input-field {
  height: 50px;
  width: 200px;
  outline: none;
  border: none;
  border-bottom: 2px solid #c9c5c5;
  padding: 0 3px;
}
.list {
  background-color: #fff;
  margin: 70px auto 0;
  max-width: 630px;
  width: 90%;
  border-radius: 10px;
  box-shadow: 1px 1px 15px #9e9d9d;
}

.list table {
  width: 100%;
  margin-top: 10px;
}
.list table thead:first-child {
  background-color: #eee;
}
.list table thead th {
  padding: 3px;
}
.list table tr td {
  text-align: center;
}
.list .btns {
  width: 300px;
  padding: 8px;
}
.list .btns span {
  width: calc(100% / 3);
  display: inline-block;
  border-left: 1px solid #b4b2b2;
  cursor: pointer;
}
.list .btns span:hover {
  background-color: #fafafa;
}
.list .btns span:first-child {
  border-left: none;
}
.list .remove-btn {
  border: none;
  background-color: #fb2626;
  color: #fff;
  cursor: pointer;
  width: 90%;
  font-weight: 500;
  padding: 2px 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.list .remove-btn:hover {
  background-color: #de2222;
}
.list .remove-btn:disabled {
  background-color: #fe5454;
}
.list .toggle-btn {
  border: none;
  background-color: #14c466;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  padding: 2px 5px;
  width: 90%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.list .toggle-btn:hover {
  background-color: #0eb95e;
}
@media screen and (max-width: 668px) {
  .container .write-todo {
    font-size: 18px;
  }
}
@media screen and (max-width: 450px) {
  .container .write-todo {
    font-size: 14px;
  }
  .container .list {
    font-size: 12px;
  }
  .list .remove-btn,
  .list .toggle-btn {
    font-size:10px ;
  }
  .btns span {
    font-size: 10px;
  }
  .container .input-field::placeholder{
    font-size: 14px;
  }
  .container .add-btn {
    padding: 5px 40px;
  }
}